nav {
	position: relative;
	height: 42px;
	margin-bottom: baselines(1);
	background: #f2f2f2;
	//border: solid 1px white;
	//box-shadow: 0 2px 2px rgba($gray-800, 0.3);
	@include transition(all 300ms);

	.is-menu-open & {
		height: 430px;
		overflow: hidden;
	}

	@include breakpoint-S {
		@include transition(none);
		display: none;
		padding: 0;
		margin: 0;
		border: none;
		background: none;
		background: white;
		height: auto;
		box-shadow: none;

		.is-menu-open & {
			display: block;
		}

	}
}

.menu-items-wrapper {
	@include clearfix;
	@include position(absolute, 0 0 null 0);

	@include breakpoint-S {
		position: static;
	}
}

.menu-items {
	display: block;
	float: left;
	@include clearfix;
	width: 80%;
	height: 42px;
	overflow: hidden;
	

	@include breakpoint-S {
		float: none;
		width: 100%;
		height: auto;
		margin: 0;
		display: none;

		.is-menu-open & {
			display: block;
		}
	}
}

.menu-item {
	float: left;
	color: $black;
	@include transition(all 350ms);

	.is-menu-open & {
		@include transform(translateY(-50px));
	}

	@include breakpoint-S {
		float: none;
		margin: 0;
		@include transition(none);

		.is-menu-open & {
			@include transform(translateY(0));
		}
	}

	a {
		position: relative;
		display: block;
		min-height: 42px;
		padding: 10px 20px;
		font-weight: $medium;
		font-size: 11px;
		//line-height: 1;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		
		@include breakpoint-S {
			font-size: 13px;
			letter-spacing: 2px;
			padding: 15px;
			border-bottom: solid 1px $gray-200;
			text-align: center;
			min-height: auto;
		}
	}

	&.current-menu-item {
		color: white;
		
	}

	&:nth-child(1).current-menu-item {
		background: $home-color;
	}
	&:nth-child(2).current-menu-item {
		background: $code-color;
	}
	&:nth-child(3).current-menu-item {
		background: $design-color;
	}
	&:nth-child(4).current-menu-item {
		background: $snapshot-color;
	}
	&:nth-child(5).current-menu-item {
		background: $about-color;
	}
}




// *******************************
// ***** Search form styles ******
// *******************************

.search-container {
	visibility: hidden;
	height: 0;
	overflow: hidden;
		

	.is-menu-open & {
		visibility: visible;
		height: auto;
	}

	@include breakpoint-S {
		padding: $gutter-width 0;
		background: none;
		position: static;
		display: none;
		height: auto;

		.is-menu-open & {
			display: block;
		}
	}
}

.search-box {
	padding: 60px;

	@include breakpoint-S {
		margin: 0;
		height: auto;
		padding: 0 $gutter-width;
	}
}

.search-box-inner {
	position: relative;
	margin: 0 auto;
	padding-left: 50px;
	border-bottom: solid 1px $home-color;
	@include transform(translateY(-150px));
	@include transition(none);
	@include transform-origin(100% 0);

	// Search icon
	&:before {
		content: '';
		@include position(absolute, 20px null null 10px);
		border: solid 3px $home-color;
		width: 18px;
		height: 18px;
		border-radius: 50%;
	}

	&:after {
		content: '';
		@include position(absolute, 44px null null 28px);
		height: 3px;
		width: 15px;
		background: $home-color;
		@include transform(rotate(45deg));
	}


	.is-menu-open & {
		@include transform(translateY(0));
		@include transition(all 400ms);
	}

	@include breakpoint-S {
		padding-left: 0;
		padding-bottom: 0;
		border-bottom: none;
		@include transform(translateY(0));

		&:before {
			display: none;
		}

		&:after {
			display: none;
		}
	}
}

.search-form {

	label {
		display: none;
		color: $home-color;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: $medium;
		letter-spacing: 1.2px;

		@include breakpoint-S {
			display: block;
			padding: 0 $gutter-width;
			font-size: 11px;
			text-align: center;
		}
	}

	.search-field {
		display: block;
		height: 70px;
		width: 100%;
		border: none;
		border-radius: 0;
		outline: none;
		background: transparent;
		-webkit-appearance: none;
		font-family: $sans-serif;
		line-height: 1.2;
		font-size: 40px;
		letter-spacing: -0.5px;
		text-align: left;
		padding: 0 !important;
		//margin-left: -10px;
		color: $home-color;
		

		@include placeholder {
			font-family: $sans-serif;
			font-weight: 300;
			letter-spacing: -0.75px;
			color: $gray-300;
			padding: 0 0 0 2px;

			@include breakpoint-S {
				color: $gray-300;
			}
		}

		@include breakpoint-S {
			display: block;
			width: 80%;
			padding: 5px $gutter-width;
			font-size: 24px;
			line-height: 1.5;
			text-align: center;
			margin: 0 auto;
			border-bottom: solid 1px $gray-800;
			
		}
	}

	.search-submit {
		display: none;
	}
}