@font-face {
  font-family: 'Graphik Web';
  src: url('/assets/fonts/Graphik-Extralight-Web.eot');
  src: url('/assets/fonts/Graphik-Extralight-Web.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/Graphik-Extralight-Web.woff') format('woff'),
     url('/assets/fonts/Graphik-Extralight-Web.ttf') format('truetype'),
     url('/assets/fonts/Graphik-Extralight-Web.svg#Graphik Web') format('svg');
  font-weight:  200;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
	font-family: 'Graphik Web';
	src: url('/assets/fonts/Graphik-Light-Web.eot');
	src: url('/assets/fonts/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Graphik-Light-Web.woff') format('woff'),
		url('/assets/fonts/Graphik-Light-Web.ttf') format('truetype'),
		url('/assets/fonts/Graphik-Light-Web.svg#Graphik Web') format('svg');
	font-weight:  300;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Graphik Web';
	src: url('/assets/fonts/Graphik-Regular-Web.eot');
	src: url('/assets/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Graphik-Regular-Web.woff') format('woff'),
		url('/assets/fonts/Graphik-Regular-Web.ttf') format('truetype'),
		url('/assets/fonts/Graphik-Regular-Web.svg#Graphik Web') format('svg');
	font-weight:  400;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Graphik Web';
	src: url('/assets/fonts/Graphik-Medium-Web.eot');
	src: url('/assets/fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Graphik-Medium-Web.woff') format('woff'),
		 url('/assets/fonts/Graphik-Medium-Web.ttf') format('truetype'),
		 url('/assets/fonts/Graphik-Medium-Web.svg#Graphik Web') format('svg');
	font-weight:  500;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Graphik Web';
	src: url('/assets/fonts/Graphik-Semibold-Web.eot');
	src: url('/assets/fonts/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Graphik-Semibold-Web.woff') format('woff'),
		 url('/assets/fonts/Graphik-Semibold-Web.ttf') format('truetype'),
		 url('/assets/fonts/Graphik-Semibold-Web.svg#Graphik Web') format('svg');
	font-weight:  700;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Graphik Web';
	src: url('/assets/fonts/Graphik-Bold-Web.eot');
	src: url('/assets/fonts/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/Graphik-Bold-Web.woff') format('woff'),
		 url('/assets/fonts/Graphik-Bold-Web.ttf') format('truetype'),
		 url('/assets/fonts/Graphik-Bold-Web.svg#Graphik Web') format('svg');
	font-weight:  800;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
  font-family: 'Lyon Text Web';
  src: url('/assets/fonts/LyonText-Regular-Web.eot');
  src: url('/assets/fonts/LyonText-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/LyonText-Regular-Web.woff') format('woff'),
     url('/assets/fonts/LyonText-Regular-Web.ttf') format('truetype'),
     url('/assets/fonts/LyonText-Regular-Web.svg#Lyon Text Web') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Lyon Text Web';
  src: url('/assets/fonts/LyonText-RegularItalic-Web.eot');
  src: url('/assets/fonts/LyonText-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/LyonText-RegularItalic-Web.woff') format('woff'),
     url('/assets/fonts/LyonText-RegularItalic-Web.ttf') format('truetype'),
     url('/assets/fonts/LyonText-RegularItalic-Web.svg#Lyon Text Web') format('svg');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Lyon Text Web';
  src: url('/assets/fonts/LyonText-Semibold-Web.eot');
  src: url('/assets/fonts/LyonText-Semibold-Web.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/LyonText-Semibold-Web.woff') format('woff'),
     url('/assets/fonts/LyonText-Semibold-Web.ttf') format('truetype'),
     url('/assets/fonts/LyonText-Semibold-Web.svg#Lyon Text Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Lyon Text Web';
  src: url('/assets/fonts/LyonText-Bold-Web.eot');
  src: url('/assets/fonts/LyonText-Bold-Web.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/LyonText-Bold-Web.woff') format('woff'),
     url('/assets/fonts/LyonText-Bold-Web.ttf') format('truetype'),
     url('/assets/fonts/LyonText-Bold-Web.svg#Lyon Text Web') format('svg');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Lyon Text Web';
  src: url('/assets/fonts/LyonText-BoldItalic-Web.eot');
  src: url('/assets/fonts/LyonText-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/LyonText-BoldItalic-Web.woff') format('woff'),
     url('/assets/fonts/LyonText-BoldItalic-Web.ttf') format('truetype'),
     url('/assets/fonts/LyonText-BoldItalic-Web.svg#Lyon Text Web') format('svg');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}