.hidden {
	display: none !important;
}

.noscroll {
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}

// .disabled {
// 	opacity: 0.4;
// 	pointer-events: none;
// }

.nowrap {
	white-space: nowrap;
}